<div class="conteneurPrincipal">
    <div class="colonneGauche">
        <div class="texte"><p>Réinventez la collaboration numerique:chaque idée devient un projet,chaque contribution compte.</p></div>
        <div class="image-conteneur">
            <img src="Visiteur.png" alt="une image" class="image" >
        </div>
    </div>
    <div class="colonneDroite">
        <div class="recherche">
            <div class="conteneurinput">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Recherche par ici ..." >
            </div>
            <button class="bouton1">Idées de projet</button>
            <button class="bouton2">projets</button>
        </div>
        <ng-container *ngIf="!messageerreur" >
        <div class="conteneurideeprojet"*ngFor="let commentaire of listecommentaireideeprojet" >
            <div class="ideeprojet"></div>
            <div class="commentaireideeprojet" >
                <div class="entête"></div>
                <div class="commentaire">
                    <div class="acteur">{{commentaire.id}}</div>
                    <div class="contenu">{{commentaire.contenu}}</div>
                </div>
                <div class="commentaire"></div>
                <div class="finducontenaire"></div>
            </div>
        </div>
        </ng-container>
        
    </div>      
</div>
