<div class="conteneurPrincipal">
  <div class="colonneGauche">
    <div class="texte">
      <p>
        Réinventez la collaboration numérique : chaque idée devient un projet,
        chaque contribution compte.
      </p>
    </div>
    <div class="image-conteneur">
      <img src="Visiteur.png" alt="une image" class="image" />
    </div>
  </div>

  <div class="colonneDroite">
    <div class="recherche">
      <div class="conteneurinput">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Recherche par ici ..." />
      </div>
      <button class="bouton1">Idées de projet</button>
      <button class="bouton2">projets</button>
    </div>

    <ng-container *ngIf="!messageerreur">
      <div
        class="conteneurideeprojet"
        *ngFor="let ideeprojet of listeideeprojet"
      >
        <div class="ideeprojet">
          <h3>{{ ideeprojet.getTitre }}</h3>
          <h4>{{ ideeprojet.getDomain }}</h4>
          <p>{{ ideeprojet.getDescription }}</p>
          <h4>{{ ideeprojet.getDatePublicatipon }}</h4>
        </div>

        <div
          class="commentaireideeprojet"
          *ngFor="let commentaire of ideeprojet.getcommentaireIdeeProjets"
        >
          <div class="entête">{{ ideeprojet.getIdUtilisateur }}</div>
          <div class="commentaire">
            <div class="acteur">{{ commentaire.idutilisateur }}</div>
            <div class="contenu">{{ commentaire.description }}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
