.conteneurPrincipal{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    background-color: #e0dddd;
}
.colonneGauche{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left:50px;
}
.image-conteneur{
    height: 60%;
    width: 100%;

}
.image{
    width:auto;
    height: 300px;
    margin-left: 40px;
    border-radius: 10px;
    border: solid white 4px;

}
.texte{
    height: 35%;
    font-family:'Inter',sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
    width: 480px;
}
.colonneDroite{
    display: flex;
    flex-direction: column;    height: 100%;
}
.recherche{
    display: flex;
    width: 80%;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
     padding-left: 10px;
    padding-right: 15px;
    margin-top: 30px; 
    margin-bottom: 20px; 
     box-shadow: 0 0 15px  rgba(0, 0, 0, 0.2);
    
}
.conteneurinput{
    width: 270px;
    height: 30px;
    border: solid rgb(24, 23, 23) 1px;
    border-radius: 10px;
    position: relative;
}
input{
    background-color: transparent;
    width: 200px;
    height: 20px;
    color: black;
    position: absolute;
    margin-left: 30px;
    border: none;
    margin-top: 5px;
}
input::placeholder{
    color: black;
}
.search-icon{
    margin: 8px;
    position: absolute;

}
input:focus{
    outline: none;
}

.bouton1{
     width: 130px;
    height: 30px;
    background-color: #334DAA;
    color: white;
    border: none;
    border-radius: 10px;   
    font-family:'Inter',sans-serif;
    font-size: 13px;
}
.bouton2{
     width: 100px;
    height: 30px;
    background-color: #334DAA;
    color: white;
    border: none;
    border-radius: 10px;   
    font-family:'Inter',sans-serif;
    font-size: 13px;
}
.conteneurideeprojet{
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.ideeprojet{
    width: 290px;
    background-color: antiquewhite;
    height: 200px;
    border-radius: 10px;
}
.commentaireideeprojet{
    width: 230px;
    background-color: rgb(139, 98, 44);
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.entête{
    width: 230px;
    height: 45px;
    background-color: aqua;
}
.commentaire{
     width: 230px;
    height: 55px;
    background-color:cadetblue;
    display: flex;
    flex-direction: column;
   
}

.finducontenaire{
     width: 230px;
    height: 45px;
    background-color:chartreuse;
}
.acteur{
    display: flex;
    width: 230px;
    height: 20px;
    background-color: bisque;
}
.contenu{
     width: 230px;
    height: 30px;
    background-color: rgb(213, 138, 47);
}